beautifulsoup4==4.12.2
Flask==2.3.2
Flask_PyMongo==2.3.0
Flask_WTF==1.1.1
nltk==3.8.1
openai==0.27.8
pymongo==4.4.0
pypdf==3.11.1
Requests==2.31.0
scholarly==1.7.11
selenium==4.10.0
WTForms==3.0.1
instamojo_wrapper