<div style="display: flex; justify-content: center;">
    <form method="POST" enctype="multipart/form-data" style="max-width: 500px;">
        {{ form.hidden_tag() }}
        <div style="margin-bottom: 1em;">
            {{ form.person_name.label }}<br>
            {{ form.person_name(style='display: block; width: 100%; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em;') }}
        </div>
        <div style="margin-bottom: 1em;">
            {{ form.gpt_option.label }}<br>
            {{ form.gpt_option(style='display: block; width: 100%; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em;') }}
        </div>
        <div style="margin-bottom: 1em;">
            {{ form.job_description.label }}<br>
            {{ form.job_description(size=50, style='display: block; width: 100%; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em;') }}
        </div>
        <div style="margin-bottom: 1em;">
            {{ form.resume.label }}<br>
            {{ form.resume(style='display: block; width: 100%; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em;') }}
        </div>

        <div style="margin-bottom: 1em;">
            {{ form.temperature_setting.label }}<br>
            {{ form.temperature_setting(style='display: block; width: 100%; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em;') }}
        </div>


        <div style="text-align: center;">
            {{ form.submit(style='display: inline-block; padding: .5em; font-size: 1em; border: 1px solid #ced4da; border-radius: .25em; background-color: #007bff; color: white; cursor: pointer;') }}
        </div>
    </form>
</div>